<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <include file="$(find usb_cam)/launch/usb_cam-test.launch"/>
    <node pkg="vision" name="vision_test" type="vision_test.py" output="screen"> </node>
    <node pkg="vision" name="hsv_reader" type="hsv_reader.py" output="screen"> </node>
    
</launch>

 